body{
    background-color:darkslategray;
    text-align: center;
    color: blanchedalmond;
}

a:link{
    color:goldenrod;
    text-decoration:underline;
    cursor:default;
}

a:visited{
    color:hotpink;
}